.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
}

.lastUpdated {
  font-size: 14px;
  color: #808080;
  margin-bottom: 16px;
  text-align: center;
}

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
  color: #000000;
  background-color: #ffffff;
}
.post h4 {
  color: #000000;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.post h3 {
  color: #000000;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.post ul {
  list-style-type: disc;
  padding-left: 40px;
  margin: 1em 0;
}

.post ul li {
  margin-bottom: 0.5em;
}

.post a {
  color: #0000ff;
  text-decoration: underline;
}

.post a:visited {
  color: #800080;
}

/* Add more styles as needed */
